/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Lora:wght@400;700&family=Outfit:wght@300;400;600;700&family=Patrick+Hand&family=Patua+One&family=Poppins:wght@400;700&family=Rubik&family=Sansita+Swashed:wght@300&family=Shadows+Into+Light&family=Sniglet&family=Ubuntu:wght@300;400;700&display=swap');

:root {
    --: 'Acme', sans-serif;
    --: 'Lobster', cursive;
    --font-lora: 'Lora', serif;
    --: 'Outfit', sans-serif;
    --: 'Patrick Hand', cursive;
    --: 'Patua One', cursive;
    --: 'Poppins', sans-serif;
    --: 'Rubik', sans-serif;
    --: 'Sansita Swashed', cursive;
    --: 'Shadows Into Light', cursive;
    --: 'Sniglet', cursive;
    --font-ubuntu: 'Ubuntu', sans-serif;
    }

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* =================
Typography
================= */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2.0625rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

/* =================
Layout
================= */

.container {
    width: 90%;
    max-width: 1444px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
    margin-bottom: 2em;
}

img {
    max-width: 100%;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
}

/**************************main **********/
.flex-container {
    display: flex;
    flex-direction: column;
}

.main-article {
    border-bottom: 1px solid #717171;
    
}

.main-article-img {
    margin-bottom: 24px ;
}

.article-img {
    margin-bottom: 24px;
    height: 242px;
    width: 100%;
    object-fit: cover; 
}

.small-article {
    margin: 2rem 0;
}

.img-text {
    color: #707070;
    font-size: 0.875rem;
    
}

@media (min-width: 695px) and (max-width: 800px) {
    .small-article .img-text {
        text-align: end;
    }

    .small-img-details {
        margin-top: -35px;
    }
    
}

.article-title {
    color: #143774;
    font-family: var(--font-lora);
}

.article-text {
    font-family: var(--font-ubuntu);
    color: #707070;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 28px;
    padding: 16px 0 28px 0;
}
.continue {
    font-family: var(--font-ubuntu);
    color: #1792D2;
    font-size: 0.875rem;
    letter-spacing: 2.8px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 24px;
}


/* sidebar */


.sidebar {
    border: 1.5rem solid #EBEBEB;
    padding: 1.5rem;
    margin-bottom: 4.875rem;
}
.sidebar-img {
    height: 133px;
    object-fit: cover;
    width: 100%;
}

.sidebar p {
    font-size: 0.875rem;
    color: #143774;        
}

.sidebar-title {
    color: #143774;
    letter-spacing: 2.8px;
    font-family: var(--font-ubuntu);
    font-weight: 700;
}

.post-title {
    font-family: var(--font-lora);
    color: #143774;
}
/* @mediaQ */

@media (min-width: 800px) {
   .flex-container {
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   }

   section {
    width: 70%;
    margin-right: 1rem;
   }

   aside {
    width: 25%;
    min-width: 240px;
   }

   .small-article {
    display: flex;
    padding-top: 0;
    justify-content: space-between;
   }

   .small-article .img-container {
    width: 30%;
   }

   .small-img-details {
    width: 65%;
   }
   
}

/* /sidebar */
/******** /main **************/

/* footer */
footer {
    background: #143774;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-align: center;
   
    padding: 48px;
}
.footer-bold {
    font-weight: 700;
   
}
.footer-light {
    font-weight: 300;
    line-height: 0;
}